<footer>
  <div class="pull-left">Developed by <a href="https://github.com/dawcars" target="_blank">Carol Dawson</a></div>
  <div class="pull-right">Images and API Courtesy of <a href="https://api.nasa.gov/index.html" target="_blank">NASA</a></div>
</footer>