<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Nasa Image Viewer</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="<%=@view_class%>"><a href="<%=nasa_images_path%>">View Images</a></li>
      <li class="<%=@download_class%>"><a href="<%=new_nasa_image_path%>">Download Image Data</a></li>
    </ul>
  </div>
</nav>